* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #app, .container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.out-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: -350px;
  width: 800px;
  height: 900px;
  color: #ffffff;
  padding: 250px 0 0 60px;
  transform: rotate(20deg);
}

.out-bg > svg {
  transform: rotate(-20deg);
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}
