* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #app, .container {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.out-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  width: 700px;
  height: 900px;
  color: #ffffff;
}

.out-bg > svg {
  display: block;
  margin: 200px auto;
}

.out-bg > small {
  position: absolute;
  top: 520px;
  left: 228px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.border-1 {
  border: 1px solid black;
}

.no-border {
  border: 0px solid black;
}

.round-border {
  border-radius: 10px;
}
